<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgm.quartz.mapper.JobMapper">
    <resultMap id="BaseResultMap" type="com.zgm.quartz.entity.Job">
        <result column="job_id" jdbcType="BIGINT" property="jobId"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="job_group" jdbcType="VARCHAR" property="jobGroup"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
        <result column="method_params" jdbcType="VARCHAR" property="methodParams"/>
        <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression"/>
        <result column="misfire_policy" jdbcType="VARCHAR" property="misfirePolicy"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
          job_id,
          job_name,
          job_group,
          method_name,
          method_params,
          cron_expression,
          cron_expression,
          misfire_policy,
          status
        from
          job
        where
          job_id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
          job_id,
          job_name,
          job_group,
          method_name,
          method_params,
          cron_expression,
          cron_expression,
          misfire_policy,
          status
        from
          job
    </select>
    <update id="updateStatusById">
        UPDATE
          job
        SET
          `status` = #{status}
        WHERE job_id = #{id}
    </update>
</mapper>